p{
    color: tomato;
}

#intro{
    color: blueviolet;
}

.intro1{
    color: chocolate;
    background-color: black;
}

#intro .intro1 em{
    background-color: coral;
    color: cyan;
}